body {
    background-image: url("/public/background.jpg");
}

div div {
    width: 100%
}

.ui.selection.dropdown .menu {
    max-height: 1000px
}

.ui.dimmer {
    height: 100vh;
}

.ui.container {
    margin: 70px 50px;
}

.ddl {
    padding-bottom: 50px;
}

.createTask {
    padding-top: 20px;
    padding-bottom: 30px;
}

